.divCards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.divCard{
    font-family: "Overpass", sans-serif;
    color: #fff;
    background-color: #0b0c10;
    width: 320px;
    height: 350px;
    font-size: 14px;
    margin: 50px 10px ;
    box-shadow: 0 0 10px 10px rgb(250, 128, 148);
    border-radius: 15px;
    transition: box-shadow 0.3s ease; /* Agrega una transición suave a la propiedad box-shadow */
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    &:hover {
        box-shadow: 0 0 10px 10px rgb(128, 232, 255);
        transform: scale(1.05);
    }
}

.divLoading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../../assets/lastbg-y5GoN2kJ5-transformed.jpeg') no-repeat center center fixed;
    background-size: 100%;
    color: white;
}

.img {
    padding-bottom: 109%;
}